data/
__pycache__/
*.e*
*.o*
checkpoints/
*.gif
*.jpg
*.eps
*.svg
*.pdf
*.csv
*.npz
*.xlsx
*.pth
save_figures_report.py
stb_delta.py
plot_gru_iters_all.py
draw_RF_scale.py
video_frames/
report_figures/
tempporal_diff/
inference_images/train_cont_two_cycle/*/*.png
gru_iterations_L1vsL2/
gru_iterations_test/
checkpoints_extended_run/
checkpoints_inter
*.aria2
bidastabilizer_integration/third_party/SEA-RAFT/demo-frames/
bidastabilizer_integration/third_party/SEA-RAFT/config/
bidastabilizer_integration/third_party/RAFT/demo-frames/
bidastabilizer_integration/third_party/SEA-RAFT/models/
bidastabilizer_integration/third_party/RAFT-Stereo/models/
bidastabilizer_integration/third_party/RAFT-Stereo/*.yaml
bidastabilizer_integration/evaluation/configs
eval_results_video/*.csv
eval_results_video/*.json
eval_results_video/*.log
eval_results_video/*/*.csv
eval_results_video/*/*.json
scale_right_1.0/*.pth
continuous_training
gru_iterations_new.py
training_plots.ipynb
gru_iterations.py
LAS_stabilizer
gru_context_features_injection
rf_preview.png
stb_delta.png
val_epe_VS_contextNet_capacity_all.png
val_epe_VS_contextNet_capacity.png
binned_ContextNet_Layer2/
figures_for_report.sh
gru_iterations.sh
inference_script.sh
test_weights_contextNet.sh
inference_images
temporal_diff
training_stereo/phase1_extended_no_cv.py