data/
__pycache__/
*.e*
*.o*
checkpoints/
*.gif
*.jpg
*.eps
*.pdf
*.csv
*.npz
*.xlsx
*.pth
save_figures_report.py
stb_delta.py
plot_gru_iters_all.py
draw_RF_scale.py
video_frames/
report_figures/
tempporal_diff/
inference_images/train_cont_two_cycle/*/*.png
gru_iterations_L1vsL2/
gru_iterations_test/
checkpoints_extended_run/
checkpoints_inter
*.aria2
bidastabilizer_integration/third_party/SEA-RAFT/demo-frames/
bidastabilizer_integration/third_party/SEA-RAFT/config/
bidastabilizer_integration/third_party/RAFT/demo-frames/
bidastabilizer_integration/third_party/SEA-RAFT/models/
bidastabilizer_integration/third_party/RAFT-Stereo/models/
bidastabilizer_integration/third_party/RAFT-Stereo/*.yaml
bidastabilizer_integration/evaluation/configs
eval_results_video/*.csv
eval_results_video/*.json
eval_results_video/*.log
eval_results_video/*/*.csv
eval_results_video/*/*.json
scale_right_1.0/*.pth
continuous_training
gru_iterations_new.py
training_plots.ipynb
gru_iterations.py
LAS_stabilizer
gru_context_features_injection
rf_preview.png
stb_delta.png
val_epe_VS_contextNet_capacity_all.png
val_epe_VS_contextNet_capacity.png
binned_ContextNet_Layer2/
figures_for_report.sh
gru_iterations.sh
inference_script.sh
test_weights_contextNet.sh
inference_images
temporal_diff
training_stereo/phase1_extended_no_cv.py
qualitative_panels.py
southken_test.png
stabilizer_stats_sintel.sh
stabilizer_stats_things.sh
stabilizer_tests.sh
test_init_disparity.sh
train_bidastabilizer.sh
train_continuous_script.sh
train_continuous_val_epe.png
train_LAS_stb_50k.sh
train_LAS_stb.sh
val_epe_VS_contextNet_capacity_ETH3D.png
val_epe_VS_contextNet_capacity_Middlebury.png
val_epe_VS_contextNet_capacity_SceneFlow.png
valid_pct_pixels.sh
video_frames_paper.sh
video_sk_paper.sh
visualize_stb_VS_raw.sh
bidastabilizer_integration/third_party/RAFT/download_models.sh
bidastabilizer_integration/third_party/RAFT/train_mixed.sh
bidastabilizer_integration/third_party/RAFT/train_standard.sh
bidastabilizer_integration/third_party/RAFT-Stereo/download_datasets.sh
bidastabilizer_integration/third_party/RAFT-Stereo/download_middlebury_2014.sh
bidastabilizer_integration/third_party/RAFT-Stereo/download_models.sh
bidastabilizer_integration/third_party/SEA-RAFT/scripts/eval.sh
bidastabilizer_integration/third_party/SEA-RAFT/scripts/submission.sh
bidastabilizer_integration/third_party/SEA-RAFT/scripts/train.sh
context_net_tests/two_cycle/eth3d_binned_init_error_cv.png
context_net_tests/two_cycle/eth3d_binned_init_error_no_cv.png
context_net_tests/two_cycle/mb_binned_init_error_cv.png
context_net_tests/two_cycle/mb_binned_init_error_no_cv.png
context_net_tests/two_cycle/per_scene_Middlebury_no_cv.png
context_net_tests/two_cycle/sceneflow_binned_init_error_cv.png
context_net_tests/two_cycle/sceneflow_binned_init_error_no_cv.png
context_net_tests/two_cycle/sceneflow_binned_init_error.png
context_net_tests/two_cycle/eth3d/sample_0_cv.png
context_net_tests/two_cycle/eth3d/sample_0_no_cv.png
context_net_tests/two_cycle/eth3d/sample_1_cv.png
context_net_tests/two_cycle/eth3d/sample_1_no_cv.png
context_net_tests/two_cycle/eth3d/sample_2_cv.png
context_net_tests/two_cycle/eth3d/sample_2_no_cv.png
context_net_tests/two_cycle/eth3d/sample_3_cv.png
context_net_tests/two_cycle/eth3d/sample_3_no_cv.png
context_net_tests/two_cycle/eth3d/sample_4_cv.png
context_net_tests/two_cycle/eth3d/sample_4_no_cv.png
context_net_tests/two_cycle/eth3d/sample_10_cv.png
context_net_tests/two_cycle/eth3d/sample_10_no_cv.png
context_net_tests/two_cycle/eth3d/sample_11_cv.png
context_net_tests/two_cycle/eth3d/sample_11_no_cv.png
context_net_tests/two_cycle/middlebury/sample_0_cv.png
context_net_tests/two_cycle/middlebury/sample_0_no_cv.png
context_net_tests/two_cycle/middlebury/sample_1_cv.png
context_net_tests/two_cycle/middlebury/sample_1_no_cv.png
context_net_tests/two_cycle/middlebury/sample_2_cv.png
context_net_tests/two_cycle/middlebury/sample_2_no_cv.png
context_net_tests/two_cycle/middlebury/sample_3_cv.png
context_net_tests/two_cycle/middlebury/sample_3_no_cv.png
context_net_tests/two_cycle/middlebury/sample_4_cv.png
context_net_tests/two_cycle/middlebury/sample_4_no_cv.png
context_net_tests/two_cycle/middlebury/sample_10_cv.png
context_net_tests/two_cycle/middlebury/sample_10_no_cv.png
context_net_tests/two_cycle/middlebury/sample_11_cv.png
context_net_tests/two_cycle/middlebury/sample_11_no_cv.png
context_net_tests/two_cycle/sceneflow/sample_0_new.png
context_net_tests/two_cycle/sceneflow/sample_0.png
context_net_tests/two_cycle/sceneflow/sample_50_new.png
context_net_tests/two_cycle/sceneflow/sample_50.png
context_net_tests/two_cycle/sceneflow/sample_100_new.png
context_net_tests/two_cycle/sceneflow/sample_100.png
context_net_tests/two_cycle/sceneflow/sample_150_new.png
context_net_tests/two_cycle/sceneflow/sample_150.png
context_net_tests/two_cycle/sceneflow/sample_200_new.png
context_net_tests/two_cycle/sceneflow/sample_200.png
context_net_tests/two_cycle/sceneflow/sample_204_cv.png
context_net_tests/two_cycle/sceneflow/sample_204_new.png
context_net_tests/two_cycle/sceneflow/sample_204_no_cv.png
context_net_tests/two_cycle/sceneflow/sample_250_new.png
context_net_tests/two_cycle/sceneflow/sample_250.png
context_net_tests/two_cycle/sceneflow/sample_260_cv.png
context_net_tests/two_cycle/sceneflow/sample_260_new.png
context_net_tests/two_cycle/sceneflow/sample_260_no_cv.png
context_net_tests/two_cycle/sceneflow/sample_300_new.png
context_net_tests/two_cycle/sceneflow/sample_300.png
context_net_tests/two_cycle/sceneflow/sample_350_new.png
context_net_tests/two_cycle/sceneflow/sample_350.png
context_net_tests/two_cycle/sceneflow/sample_400_new.png
context_net_tests/two_cycle/sceneflow/sample_400.png
context_net_tests/two_cycle/sceneflow/sample_450_new.png
context_net_tests/two_cycle/sceneflow/sample_450.png
context_net_tests/two_cycle/sceneflow/sample_712_cv.png
context_net_tests/two_cycle/sceneflow/sample_712_new.png
context_net_tests/two_cycle/sceneflow/sample_712_no_cv.png
context_net_tests/two_cycle/sceneflow/sample_839_cv.png
context_net_tests/two_cycle/sceneflow/sample_839_new.png
context_net_tests/two_cycle/sceneflow/sample_839_no_cv.png
context_net_tests/two_cycle/sceneflow/sample_912_cv.png
context_net_tests/two_cycle/sceneflow/sample_912_new.png
context_net_tests/two_cycle/sceneflow/sample_912_no_cv.png
context_net_tests/two_cycle/sceneflow/sample_1143_cv.png
context_net_tests/two_cycle/sceneflow/sample_1143_new.png
context_net_tests/two_cycle/sceneflow/sample_1143_no_cv.png
context_net_tests/two_cycle/sceneflow/sample_1828_cv.png
context_net_tests/two_cycle/sceneflow/sample_1828_new.png
context_net_tests/two_cycle/sceneflow/sample_1828_no_cv.png
context_net_tests/two_cycle/sceneflow/sample_2006_cv.png
context_net_tests/two_cycle/sceneflow/sample_2006_new.png
context_net_tests/two_cycle/sceneflow/sample_2006_no_cv.png
context_net_tests/two_cycle/sceneflow/sample_2253_cv.png
context_net_tests/two_cycle/sceneflow/sample_2253_new.png
context_net_tests/two_cycle/sceneflow/sample_2253_no_cv.png
context_net_tests/two_cycle/sceneflow/sample_3456_cv.png
context_net_tests/two_cycle/sceneflow/sample_3456_new.png
context_net_tests/two_cycle/sceneflow/sample_3456_no_cv.png
eval_results_video/LAS_stabilizer_sintel_clean_visualize_diff_maps_ambush_6_iter25k.png
eval_results_video/LAS_stabilizer_sintel_clean_visualize_diff_maps_bamboo_2_iter25k.png
eval_results_video/LAS_stabilizer_sintel_clean_visualize_fig9_grid_ambush_6_iter25k.png
eval_results_video/LAS_stabilizer_sintel_clean_visualize_fig9_grid_bamboo_2_iter25k.png
evaluate_LAS/eval_driving.sh
evaluate_LAS/eval_eth.sh
finetune_real/finetune_real_cv.log
finetune_real/finetune_real.log
finetune_real/meta_cv.json
finetune_real/meta_no_cv.json
finetune_scripts/eval_finetune_eth.sh
finetune_scripts/eval_finetune.sh
finetune_scripts/finetune_full.sh
finetune_scripts/finetune_latest.sh
finetune_scripts/finetune.sh
logs_stabilizer/3779635.pbs-7.ER
logs_stabilizer/3779635.pbs-7.OU
logs_stabilizer/3908925.pbs-7.ER
logs_stabilizer/3908925.pbs-7.OU
stats_stb/stats_LAS_stabilizer_sintel_clean_maxdisp192_Aug17_09-33-24.json
stats_stb/stats_LAS_stabilizer_sintel_clean_maxdisp192_Aug26_00-07-12.json
stats_stb/stats_LAS_stabilizer_sintel_clean_maxdispNone_Aug17_09-43-23.json
stats_stb/stats_LAS_stabilizer_sintel_final_maxdisp192_Aug17_09-53-17.json
stats_stb/stats_LAS_stabilizer_sintel_final_maxdisp192_Aug26_00-10-42.json
stats_stb/stats_LAS_stabilizer_sintel_final_maxdispNone_Aug17_10-03-17.json
stats_stb/stats_raftstereo_stabilizer_sintel_clean_maxdisp192_Aug17_09-37-39.json
stats_stb/stats_raftstereo_stabilizer_sintel_clean_maxdispNone_Aug17_09-47-44.json
stats_stb/stats_raftstereo_stabilizer_sintel_final_maxdisp192_Aug17_09-57-33.json
stats_stb/stats_raftstereo_stabilizer_sintel_final_maxdispNone_Aug17_10-07-38.json
stats_stb/stats_stabilizer_Aug17_09-33-24_LAS_stabilizer_sintel_clean_192.log
stats_stb/stats_stabilizer_Aug17_09-37-39_raftstereo_stabilizer_sintel_clean_192.log
stats_stb/stats_stabilizer_Aug17_09-43-23_LAS_stabilizer_sintel_clean_None.log
stats_stb/stats_stabilizer_Aug17_09-47-44_raftstereo_stabilizer_sintel_clean_None.log
stats_stb/stats_stabilizer_Aug17_09-53-17_LAS_stabilizer_sintel_final_192.log
stats_stb/stats_stabilizer_Aug17_09-57-33_raftstereo_stabilizer_sintel_final_192.log
stats_stb/stats_stabilizer_Aug17_10-03-17_LAS_stabilizer_sintel_final_None.log
stats_stb/stats_stabilizer_Aug17_10-07-38_raftstereo_stabilizer_sintel_final_None.log
stats_stb/stats_stabilizer_Aug26_00-07-12_LAS_stabilizer_sintel_clean_192.log
stats_stb/stats_stabilizer_Aug26_00-10-42_LAS_stabilizer_sintel_final_192.log
training_scripts/train_phase_no_CV.sh
training_scripts/train_with_CV.sh
analyze_disp_distribution.sh
benchmark_inference_time.sh
benchmark_stb.sh
eval_eth_cv.sh
eval_eth_no_cv.sh
eval_mid_cv.sh
eval_SF_no_cv.sh
eval_SF.sh
eval_two_cycle.sh
evaluate_RAFT_Stereo.sh
evaluate_SouthKen.sh
evaluate_video_stb.sh
evaluate_video.sh
evaluate.sh
finetune_phase2.sh
finetune_real_CV.sh
finetune_real_no_CV.sh
is_stb_training.sh
phase1_extended.sh
phase1_training_SCALE_RIGHT_CHANGE.sh
eval_results_video